{% extends '::base.html.twig' %}

{% block page_title 'category' %}

{% block body %}

    {% if app.session.flashBag.has('success') %}
        <ul>
            {% for message in app.session.flashBag.get('success') %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif  %}
    {% if app.session.flashBag.has('error') %}
        <ul>
            {% for message in app.session.flashBag.get('error') %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif  %}

    <a href="/"><button>Retour aux livres</button></a>
    <a href="/category/create"><button>Créer une catégorie</button></a>
    {% for category in categories %}
        <fieldset>
            <legend>Category {{ category.id }}</legend>
            <p>{{ category.name }}</p>
        </fieldset>
    {% else %}
        {# In case there is no news in database #}
        <h3>Aucune categorie n'est encore disponible</h3>
    {% endfor %}

{% endblock body %}
